<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="run tests in parallel" parallel="tests" verbose="1"
	configfailurepolicy="continue" thread-count="2">
	 <listeners>
		<!--This TestNG listener takes care of setting up and tearing down the 
			Local Selenium driver, and it also changes test names in the final TestNG 
			HTML report.-->
		<listener
			class-name="com.sph.driverFactory.LocalWebDriverListener" />
	</listeners>

	  <!--<test name="Tests Chrome browser in Local">
		<parameter name="browserName" value="chromeheadless"/>
		<classes>
			<class name="com.sph.runners.RunCukesTestInWeb"/>
		</classes>
	</test>-->
	   <test name="Tests Chrome browser in SeeTest">
        <parameter name="browserName" value="chromelocal"/>
        <classes>
            <class name="com.sph.runners.RunCukesTestInWeb"/>
        </classes>
    </test>

</suite>